

.damage-w {
    width: 20px;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.br-pill {
    border-radius: 9999px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: none;
}

.link:link, .link:visited {
    transition: none;
}

.link:hover {
    transition: none;
}

.link:active {
    transition: none
}

.link:focus {
    transition: none;
    outline: 1px dotted currentColor;
}

.w2-half {    width: 3rem; }


@media (--breakpoint-not-small) {
    .w2-half-ns {  width: 3rem; }
}

@media (--breakpoint-medium) {
    .w2-half-m {      width: 3rem; }
}

@media (--breakpoint-large) {
    .w2-half-l {      width: 3rem; }
}