
.bug-color {
    background-color: #9FA766;
}

.dragon-color {
    background-color: #BBA0E2;
}

.electric-color {
    background-color: #E8D55E;
}

.fairy-color {
    background-color: #F7B9B9;
}

.fighting-color {
    background-color: #EDAF44;
}

.fire-color {
    background-color: #E05656;
}

.flying-color {
    background-color: #8ED1D6;
}

.ghost-color {
    background-color: #4A71F1;
}

.grass-color {
    background-color: #A6D471;
}

.ground-color {
    background-color: #967045;
}

.normal-color {
    background-color: #DDBF73;
}

.poison-color {
    background-color: #2C542A;
}

.psychic-color {
    background-color: #C161B7;
}

.rock-color {
    background-color: #493021;
}

.steel-color {
    background-color: #B2B2B2;
}

.water-color {
    background-color: #35B4B2;
}

.damage-w {
    width: 20px;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.br-pill {
    border-radius: 9999px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: none;
}

.link:link, .link:visited {
    transition: none;
}

.link:hover {
    transition: none;
}

.link:active {
    transition: none
}

.link:focus {
    transition: none;
    outline: 1px dotted currentColor;
}

.w2-half {    width: 3rem; }


@media (--breakpoint-not-small) {
    .w2-half-ns {  width: 3rem; }
}

@media (--breakpoint-medium) {
    .w2-half-m {      width: 3rem; }
}

@media (--breakpoint-large) {
    .w2-half-l {      width: 3rem; }
}